.intro {
  position: relative;
  text-align: center;
}
#home {
  width: 90%;
  height: 700px;
  margin-left: 30px;
  margin-top: 50px;
}
.imgDescription {
  position: absolute;
  top: 30%;
  left: 40%;
  transform: transalate(-50%, -50%);
  color: whitesmoke;
  padding: 10px;
  font-weight: bolder;
}
.imgDescription1 {
  position: absolute;
  top: 45%;
  left: 35%;
  transform: transalate(-50%, -50%);
  color: whitesmoke;
  padding: 10px;

  font-size: 12px;
}
.imgDescription2 {
  position: absolute;
  top: 75%;
  left: 50%;
  transform: transalate(-50%, -50%);
  color: whitesmoke;
  padding: 10px;
  font-weight: bolder;
}
.imgDescription3 {
  position: absolute;
  top: 15%;
  left: 48%;
  transform: transalate(-50%, -50%);
  color: whitesmoke;
  padding: 10px;
  margin-bottom: 5px;
}
#heading {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}
.about {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}
#asset {
  width: 75%;
  height: 200px;
  margin-left: 50px;

  margin-top: 50px;
}

#head2 {
  padding-top: 80px;
  color: whitesmoke;
  font-weight: bolder;
}

.services {
  color: whitesmoke;
  font-weight: bold;
  padding: 3px;
  font-size: 15px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.toggle {
  margin-top: 15px;
}
.toggle .image {
  vertical-align: middle;
  display: inline-block;
}
.toggle .text {
  margin-left: 10px;
}
.container1 {
  margin-left: 120px;
  margin-right: 100px;
  align-content: center;
  width: 60%;
}
.img-fluid {
  max-width: 100%;
  max-height: 100%;
  padding: 0px;
  margin: 0px;
}

#form {
  background-image: url('c_image.jpg');
  background-size: cover;
  background-size: 90% 100%;
  margin: 10px;
  min-height: 450px;
  min-width: 800px;
  padding: 80px;
  padding-top: 60px;
}
.form {
  background-color: black;
}
.form-group1 {
  min-height: 150px;
  max-width: 300px;
  padding: 15px;
}
#name {
  background-color: transparent;
  color: whitesmoke;
}
#email {
  background-color: transparent;
  color: whitesmoke;
}
#message {
  min-width: 900px;
  min-height: 190px;
  font-size: 18px;
  background-color: transparent;
  color: whitesmoke;
}
